.App {
  position: relative;
    width: 1440px;
    height: 1024px;
  
    background: #FFFFFF;
}

.app-body{
  display: flex;
  flex-wrap: wrap;
  background: #839695;
  
  left: 0px;
  top: 83px;
}
.card-header{
  height: 80px;  
  text-decoration: none;
  background: #112B3E;

}

.navbar-brand{
  position: absolute;
    width: 319px;
    height: 48px;
    left: 25px;
    top: 23px;
text-decoration: none;
font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  /* identical to box height */
  color: #FFFFFF;
  border: 1px solid #000000;
}



.card {
  height: 450px;
  width: 420px;
  margin: 40px;
  background: #112B3E;
  box-sizing: content-box;
}
.card-body{
    width: 420px;
    height: 151px;
    
}

.card-title{

  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
 margin: 0%;
}

.card-text{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.card-img-top{
  
    width: 420px;
    height: 299px;
  
}
